
@font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico-Regular.ttf");
  }
@font-face {
    font-family: "Acme";
    src: url("../fonts/Acme-Regular.ttf");
  }
@font-face {
    font-family: "Oleo";
    src: url("../fonts/OleoScriptSwashCaps-Bold.ttf");
  }
  @font-face {
    font-family: "Abril";
    src: url("../fonts/AbrilFatface-Regular.ttf");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #3a3973;

}
html{
    scroll-behavior: smooth;
}
section[id]{
    scroll-margin-top: 95px;
}

/* *******************Nav bar ++++++++++++++++*/
.nav_bar{

    width: 100%;
    margin: auto;
    top: 0;
    height: 100px;
    position: fixed;
    background: #3a3973;
    z-index: 9;
    transition: 0.5s;

}

.icon-menu{
    display: none;
}
.nav_bar:hover{
    background: rgb(0, 0, 0);
    
}
.logo_header{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffc000;
    font-size: 35px;
    font-weight: bold;
}
.logo_header span span{
    color: white;
}

.menu{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    color: white;
    transition: all 0.9s;



}
nav hr{
    margin: 0 300px;
    background:rgb(255, 192, 0);
    height: 5px;
    border-bottom: 2px solid whitesmoke;
    box-shadow: 10px 0 10px black;
}
.menu_item{

    padding: 10px;
}
.menu_item a{
    color: white;
    text-decoration: none;
    
}
.menu_item a:hover{

    color: #ffc000;
    font-weight: bold;
    

}

/* ++++++++++++++ Presentacion ++++++++++++++++++ */

.container_presentation{

    width: 90%;

    margin: 0 auto;
    background: rgb(58, 57, 115);
    margin-top: 130px;
    display: grid;

    grid-template-columns: 1fr 1fr;


}

.text_presentation{
    width: 85%;
    margin-top: 45px;
    padding: 0px 10px 10px 70px;
    color: white;
}
.hi{
    font-size: 55px;
    margin-bottom: 3px;
    font-family: "Pacifico";
    color: #ffc000;
}
.text_profesion{
    font-size: 45px;
    margin-bottom: 5px;
    font-family: "Acme";
}
.text_presentation h3{
    font-size: 38px;
    margin-bottom: 10px;
    font-family: "Acme";
    color: rgb(255, 192, 0);

}
.text_presentation h3 span{
    color: white;
    font-size: 35px;
}
.text_presentation p{
    text-align: justify;
    font-size: 16px;
    font-family: "Acme";
}
.text_presentation p span{
    color: #c8ff00;
    font-size: 20px;
    font-weight: bold;
}

.btn-presentation{
    margin: 0 auto;
    display: flex;
    font-family: "Oleo";
    margin-top: 10px;
    justify-content: center;
}
.btn-presentation a{
    width: 138px;
    text-align: center;
    border: 2px solid white;
    padding: 9px;
    background: rgb(255, 192, 0);
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: bold;

    margin-top: 30px;
    border-radius: 5px;
    transition: all 0.5s;
}
.btn-presentation a:hover{
    background: white;
    padding: 5px;
    border:6px solid #ffc000;
}


.photo{

    width: 550px;
}

/* + + + +  about   + + + +  */
.about_container{

    display: grid;
    width: 100%;
    height: 100vh ;
    margin: 0 auto;

    background: #232222;
    grid-template-columns: 1fr 1fr;

}
.about_photo{
    margin: auto
}
.about_me{
    margin: auto
}
.about_me h2{
    font-size: 38px;
    font-family: "Oleo";
    color: white;
}
.about_me p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    width: 80%;
    text-align: justify;
    font-family: "Acme";
}
/* +++++++     education ++++++++++++++++++ */
.education{

    width: 100%;
    height: 100%;
}
.container_education{
    background: rgba(255, 255, 255, 0.892);
    padding: 0 0 60px 0;
   
}
.container_knowledge{
    width: 90%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    position: relative;
    
  }
  .container_knowledge .title_container_knowledge{
    display: flex;
    justify-content: center;
    font-size: 36px;
    background: #232222;
    width: 70%;

    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 20px 0;
  
    font-family: "Oleo";
    
  }
  .container_carousol{

    width: 70%;

    margin: 0 auto;
  
  }
  .container_carousol .subtitle_title_container_knowledge{
  
    border-bottom: 2px solid black;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: "Acme";
    font-size: 25px;
  }
  


  .carousel__lista{
    overflow: hidden;

  }
 
.card_education {
    width: 190px;
    height: 420px;

    border-radius: 30px;
    background: #ffc000;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}
.container_education_elemnets{
    display: flex;
    flex-direction: column;
    
}
.logo_education{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 25px;
   
}
.logo_education img{
    height: 60%;
     
}
.container_information_education{
    display: flex;
    flex-direction: column;
     border-top-right-radius: 50px; 
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 10px;


    height: 300px;
    
  
    
    
}

.title_education{
    display: flex;
    justify-content: center;
    height: 70px;

    padding: 10px 0;
    margin: 15px ;


}
.title_education h2{
    font-family: "Acme";
    font-size: 20px;
}
.description_education{
    display: flex;
    flex-direction: column;
    

}
.container_information_education span{
    font-family: "Acme";
    font-size: 15px;
    margin: 10px 0;
}
.container_information_education span:nth-child(1){
    
    height: 60px;
}




  
 

  /* ++++++++++++++ parte 2 ************ */
  .container_tecnologic{
    padding: 15px;
    width: 100%;
    height: 100%;
  }
  .logo_tecnologic{
    padding: 15px;
  }
  .text_tecnologic{

    font-family: "Oleo";
    font-size: 25px;
    margin-top: 40px;
    border-top: 2px solid white;

    color: white;
  }
  .text_tecnologic{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .card-pro {
    width: 12.5rem;
    height: 17rem;
    

    background-color: #212121;
    border-radius: 1rem;
    border: #212121 0.2rem solid;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
   }
   
   .card-pro:hover {

    border: #df9a12 0.2em solid;
    border-radius: 2.5rem 0 2.5rem 0;
   }
  
  
   





  



/* + + +  portfolio ** + + + */

.portfolio_container{
    background: url(../img/background_skills.jpg);
    display: block;
    width:100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 0 auto;

}
.background_portafolio{
    background: #127cdfa2;
    width: 100%;
    height: 100%;

}
.portfolio_container h2{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: white;
    width: 70%;
    text-align: center;
    font-size: 36px;
    padding: 20px 0;
    font-family: "Oleo";
    background: #212121;
    margin-bottom: 120px;
  

}

.conatiner_cards{
    
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;

}
.card{
    
    margin: 5px;
    display: block;
    width: 300px;
    margin: 0 auto;
    border-radius: 30px;
    background: #3a3973;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffffd1;
    cursor: pointer;


}
.up_card{
    position: relative;
    background-size: cover;
    height: 200px;
}
.img_card{
    position: absolute;
    width: 100%;
    height: 100%;
}

.text_card{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.397);
    height: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    transition: all 0.5s;


}
.text_card:hover{
    background: none;
    color: #21212100;

}
.text_card span{
    font-size: 20px;
}


.container-btn_cards{
    display: flex;
    justify-content:space-around;

    margin: 10px 50px;
    font-size: 30px;

}
.container-btn_cards a i{
    color:white;
    transition: all 0.5s;

}
.fa-github:hover{
    color: rgb(31, 26, 26);
}
.fa-code:hover{
    color: rgb(206, 84, 84);
}
.fa-globe-americas:hover{
    color: rgb(99, 99, 211);
}

/* Contacs */
.container_contacs{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
    align-items: center;
    background: linear-gradient(
        to right,
        white 0%,
        white 40%,
        #3a3973 40%,
        #3a3973 100%
      );
}
.container_information{

    width: 75%;

    margin: 0 auto;

}
.container_information h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 60px;
    font-family: "Acme";
}
.lista_contacs{
    list-style: none;
    text-decoration: none;

}
.lista_contacs a{
    display: flex;
    align-items: center;
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: "Abril";
    font-weight: none;

}
.lista_contacs a img{
    font-size: 30px;
    padding: 10px;
    width: 50px;

}

/* ++++++++++++++++++alternayivas de contacto++++++++++++++++++++++++++++++ */
.btn_alter{

    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    padding-top: 70px;

    width: 100%;
}
.btn_alter a{
    color: black;
    margin: 10px;
}
.btn_alter a img{
    width: 40px;
}



/* +++++++++++++++++++++formulario +++++++++++++++++++++ */
.container_form{
    width: 60%;

    margin: 0 auto;
}
.container_form h2{

    width: 100%;
    font-size: 36px;
    margin-bottom:  10px;

    text-align: center;
    color: #ffc000;
    font-family: "Acme";
}

.form{
    margin-bottom: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form input ,.form textarea {
    width: 90%;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    
}
.form textarea{
    resize: none;


}
.form button{
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #ffc000;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    font-family: "Oleo";
}

.text_required{
    color: red;
    width: 80%;
    display: none;
}
.container_alert_todo{

    position: absolute;
    width: 100%;
    height: 100vh;
    background: #030303b6;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.container_alert{
    
    width: 300px;
    height: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 15px 0;
    gap: 15px;
    box-shadow: 0px 0px 54px 3px rgba(224,192,224,0.59);
}
.container_image_alert{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image_alert{
    
    
    width:60%;
    height: 80%;
    background-image: url(../img/check.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    

}
.mensaje_enviado::before{
    content: "Correo Enviado Correctamente";
    font-family: "Acme";
}
.btn-aceptar{
    padding: 10px 60px;
    background: #3a3973;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-family: "Oleo";
    transition: all 0.2s;
    
}
.btn-aceptar:hover{
    background: wheat;
    color: #3a3973;
}





@media screen and (max-width:680px) {
    section[id]{
        scroll-margin-top: 60px;
    }
    .nav_bar{
        display: flex;
        height: 80px;
        justify-content: space-between;
        padding: 10px 18px;
        height: auto;
    }
    hr{
        display: none;
    }
    .menu{
        position: absolute;
        display: block;
        top: 60px;
        background: rgba(255, 37, 37, 0.551);
        right: 0;
        width: 100%;
        align-items: center;
        display: none;
    }
    .logo_header{
        display: flex;

        width: 0;
        justify-content: start;
    }
    .icon-menu{
    display: block;
    justify-content: center;
    color: #ffc000;
    font-size: 35px;
    font-weight: bold;
    }
    .mostrar{
        transition: all 5s;
        display: block;

    }


    /* ++++++++++++++ Presentacion ++++++++++++++++++ */
    .container_presentation{
        grid-template-columns: 1fr;
        width: 100%;
        margin-bottom: 100px;
    }
    .text_presentation{
        width: 100%;
        margin-top: 0;
        padding: 0 20px;
    }
    .photo{
        display: none;
    }
    .hi{
        font-size: 50px;
    }
    .text_profesion{
        font-size: 33px;
    }
    .text_presentation p{
        font-size: 15px;
    }
    /* + + + +  about   + + + +  */
    .about_container{
        grid-template-columns: 1fr;
        margin: 0;

    }
    .about_photo{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .about_photo img{
        width: 70%;
    }
    .about_me{
        width: 90%;
        margin: auto;
    }
    .about_me p{
        width: 89%;
        margin: auto;
        text-align: justify;
        font-size: 15px;
        margin-bottom: 130px;
    }
    /* +++++++++++ education +++++++++ */
    .container_knowledge{
        
        width: 100%;
    }
    .container_knowledge .title_container_knowledge{
        font-size: 30px;  
    }
    .container_carousol{
        width: 90%;
    }
    /* parte 1 */
    .card_education{
        width: 9rem;
        margin-left: 10px;
        height: 380px;
    }
    .logo_education{
        height: 150px;
    }
    .logo_education img{
        height: 90%;
    }
    .title_education{
      
        height: 60px;
        
    }
    .title_education h2{
       font-size: 15px; 
    }

    /* parte 2 */
    .card-pro {
        width: 9rem;
    }
    .text_tecnologic{
        font-size: 20px;
    }

 



    /* skills */
    .container_skills{
        background: url(../img/background_skills_phone.jpg);
        overflow: hidden;
        background-size: 100% 100%;
        
        
    }
    .container_skills h1{
        font-size: 30px;
        text-align: center;
    }
    .container_cards-skills{
        grid-template-columns: 1fr 1fr;
        width: 80%;

    }
    .card_skills_border {
        width: 120px;
        height: 184px;
    }
    .card-skils_content {
        width: 120px;
        height: 184px;
    }






    /* + + +  portfolio ** + + + */
    .portfolio_container{
        height: auto;
        background: url(../img/background_skills_phone.jpg);
        background-size: 100% 100%;
       


    }
    .portfolio_container h2{
        padding: 40px 0 60px 0 ;



    }
    .conatiner_cards{
        width: 80%;
        grid-template-columns: 1fr ;
        gap: 50px;

    }
    .card{
        width: 70%;
        margin-bottom: 15px;
    }

/*  + +Contacs ****+ + + + */
    .container_contacs{
        order: reverse;
        grid-template-columns: 1fr;
        height: auto;

        grid-template-rows: 1fr 1fr;
        background: linear-gradient(0deg, #3a3973 50%, #ffffff 50%);
    }
    .container_information{
        width: 100%;

        justify-content: center;
    }
    .lista_contacs{
        width: 85%;
        margin: 0 auto;
    }
    .lista_contacs a{
        font-size: 15px;

    }
    /* +++++++++++++++++++++formulario +++++++++++++++++++++ */
    .container_form{
        width: 90%;
        display: grid;

    }
    .container_form h2{
        margin: 40px 0;
    }
    .form button{
        margin-top: 50px;
    }


}
